body { padding-bottom: 40px; }
.subject-math { background-color: blue; }
.subject-history { background-color: red; }
.subject-lit { background-color: yellow; }

.list-group-item { cursor: pointer; }
.list-group-item input { margin-right: 10px; }
<<<<<<< HEAD
=======

>>>>>>> 856d3182d1f43e00646f4686c4e81ce6a924bec9
