body { padding-bottom: 40px; }
.subject-math { background-color: blue; }
.subject-history { background-color: red; }
.subject-lit { background-color: yellow; }

.list-group-item { cursor: pointer; }
.list-group-item input { margin-right: 10px; }

